<!doctype html>
<html ng-app="expManager">
<head>
<title>Expense Manager</title>
</head>

<body>


        <div ng-controller="expenseManagerCtrl">
		<div class="container">
        <div class="row margin-t-10px">
		 <label class="label label-success">Total Income:{{totalIncome()}}</label>
		 <label class="label label-danger">Total Expense:{{totalExpense()}}</label>
		 <label class="label label-primary">Total Balance:{{totalIncome()-totalExpense()}}</label>
		 </div>
		 
		 <div class="row margin-t-10px">
		 <button type="submit" class="btn btn-default" ng-click="ShowIncome()">Show Income</button>
		 <button type="submit" class="btn btn-default" ng-click="ShowExpense()">Show Expense</button>
         </div>

		<div class="row" ng-show= "IsIncomeVisible">
        <table class="table table-striped">
		<thead>
		 <th>Id</th>
		 <th>Income Category</th>
		 <th>Amount</th>
		</thead>
		<tbody>
		<tr ng-repeat="data in income">
		<td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.amount}}</td>   
		</tr>
		</tbody>
		</table>
         </div>
		 
		 <div class="row" ng-show="IsExpenseVisible">
		 <table class="table table-striped">
		 <thead>
		 <th>Id</th>
		 <th>Expense Category</th>
		 <th>Amount</th>
		</thead>
		<tbody>
		<tr ng-repeat="data in expense">
		<td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.amount}}</td>   
		</tr>
		</tbody>
		</table>

	   </div>
	     </div>

</body>
<script src="../js/angular.min.js"></script>
<script src="../js/controller.js"></script>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

</body>
</html>